#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.backhome {
  position: fixed;
  top: 10px;
  left: 40%;
  right: 40%;
  z-index: 100;
  background-color: #242424;

}

.streamview {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: block;
  min-width: 50vw;
  max-width: 50vw;

}

.text-container {
  display: flex;
  max-width: 90vw;
  max-width: 90vw;
  flex-direction: column;
}

.reload-button {
  padding: 10px;
  margin: 10px;
  /* width: 150px; */
  /* align-items: end; */
  /* justify-content: center; */
}

.speed-buttons>button {
  margin: 10px;
}

.active {
  background-color: #4caf50;
  color: white;
}

.home-container>button {
  border-color: rgb(165, 100, 100);
  gap: 10px;
  margin: 10px;
  padding: 10px;
}

.profile-links-container>button>* {
  gap: 10px;
  margin: 0 10px;

}

.profile-links-container>button {
  margin: 10px;
}.speed-label{
  color: red;
}.progress-bar {
  display: block;
  height: 100%;
  background-color: #4caf50; /* Green color */
}
.progress-bar-container {
  height: 20px; /* Set an appropriate height */
  border: 1px solid #ccc; /* Optional border for visibility */
  overflow: hidden; /* Ensure the progress bar stays within the container */
}
